<!-- IN THEATERS MOVIE LIST -->
<div class="Top-ToolBar">
  <a href="/"><p class="Back-Btn"> <img class="Back-Icon" src="./assets/Icons/back.png" alt="Seach Icon"> Back</p></a>
  <!-- Movie Category Title -->
  <p class="Top-Movies-Title">In Theaters</p>
</div>
<div class="Movie-Container">
  <!-- In Theaters Movie List -->
  <div class="column" *ngFor="let movie of movies">
    <!-- Movie Image -->
    <img class="Movie-Image" src="{{movie.image}}" alt="Top Movie Images">
    <!-- Movie Title -->
    <h3 class="Movie-Name">{{movie.fullTitle}}</h3>
  </div>
</div>