<!-- TOP 250 TV SHOWS LIST -->
<div class="Top-ToolBar">
  <p class="Back-Btn"> <img class="Back-Icon" src="./assets/Icons/back.png" alt="Seach Icon"> Back</p>
  <!-- Movie Category Title -->
  <p class="Top-Movies-Title">Top 250 Shows</p>
</div>
<div class="Movie-Container">
  <!-- Top 250 Tv Shows List -->
  <div class="column" *ngFor="let movie of movies">
    <!-- Movie Image -->
    <img class="Movie-Image" src="{{movie.image}}" alt="Top Movie Images">
    <!-- Movie Title -->
    <h3 class="Movie-Name">{{movie.fullTitle}}</h3>
  </div>
</div>