<!-- <button [routerLink]="['./top250']">
  Top 250 Movies
</button>
<button [routerLink]="['./top250Tvs']">
  Top 250 Tvs 
</button> -->
<!-- Movies In Theater List -->

  <!-- <div class="Movie-List" >
    <img class="Movie-Poster" *ngFor="let movie of movies" src="{{movie.image}}" alt="Top Movie Images">
  </div> -->

<p class="Movie-Title">MOVIES</p>

<p class="Coming-Soon">Coming Soon</p>

<div class="Movie-Container">
  <div class="Movie-List">
    <img src="./assets/PosterImages/After.jpeg" class="Movie-Poster" alt="">
    <img src="./assets/PosterImages/AirLift.jpeg" class="Movie-Poster" alt="">
    <img src="./assets/PosterImages/BlackP.jpeg" class="Movie-Poster" alt="">
    <img src="./assets/PosterImages/CrazyRich.jpeg" class="Movie-Poster" alt="">
    <img src="./assets/PosterImages/Dragon.jpeg" class="Movie-Poster" alt="">
    <img src="./assets/PosterImages/FreeGuy.jpeg" class="Movie-Poster" alt="">
    <img src="./assets/PosterImages/JungleCruise.jpeg" class="Movie-Poster" alt="">
    <img src="./assets/PosterImages/MrClean.jpeg" class="Movie-Poster" alt="">
    <img src="./assets/PosterImages/Skyscraper.jpeg" class="Movie-Poster" alt="">
    <img src="./assets/PosterImages/SpiderMan.jpeg" class="Movie-Poster" alt="">
    <img src="./assets/PosterImages/The Hill.jpeg" class="Movie-Poster" alt="">
  </div> 
</div>