<!-- <button [routerLink]="['./top250']">
  Top 250 Movies
</button>
<button [routerLink]="['./top250Tvs']">
  Top 250 Tvs 
</button> -->

<div>
  <!-- MOVIES TITLE -->
  <p class="Movie-Title">MOVIES</p>

  <!-- MOVIES ICON -->
  <img class="Search-Icon" src="./assets/Icons/search.png" alt="Seach Icon">

  <!-- COMING SOON  -->
  <p class="Category-Text">Coming Soon</p>
  <!-- Coming Soon Movie List -->
  <div class="Movie-List" >
    <div class="Movie-Background-Poster" *ngFor="let movie of movies" style="background-image: url(./assets/PosterImages/After.jpeg);"></div>
  </div>


  <!-- TOP 250 MOVIES  -->
  <p class="Category-Text" style="margin-top: -20px;">Top 250 Movies</p>
  <p class="SeeAll-Text">See all</p>
  <!-- Top 250 Movie List -->
  <div class="Movie-List" >
    <div *ngFor="let movie of movies">
      <img class="Rectangle-Movie-Poster" src="{{movie.image}}" alt="Movies Poster">
      <p class="Movie-Name">{{movie.fullTitle}}</p>
    </div>
  </div>


  <!-- TOP 250 TV SHOWS  -->
  <p class="Category-Text" style="margin-top: -20px;">Top 250 Tv Shows</p>
  <p class="SeeAll-Text">See all</p>
  <!-- Top 250 Tv Show List -->
  <div class="Movie-List" >
    <div *ngFor="let movie of movies">
      <img class="Rectangle-Movie-Poster" src="{{movie.image}}" alt="Movies Poster">
      <p class="Category-Movie-Name">{{movie.fullTitle}}</p>
    </div>
  </div>


  <!-- MOST POPULAR TV SHOWS  -->
  <p class="Category-Text" style="margin-top: -10px;">Most Popular Tv Shows</p>
  <p class="SeeAll-Text">See all</p>
  <!-- Most Popular Tv Shows List -->
  <div class="Movie-List" >
    <div *ngFor="let movie of movies">
      <img class="Rectangle-Movie-Poster" src="{{movie.image}}" alt="Movies Poster">
      <p class="Category-Movie-Name">{{movie.fullTitle}}</p>
    </div>
  </div>


  <!-- IN THEATERS  -->
  <p class="Category-Text" style="margin-top: -10px;">In Theaters</p>
  <p class="SeeAll-Text">See all</p>
  <!-- In Theaters Movie List -->
  <div class="Movie-List" >
    <div *ngFor="let movie of movies">
      <img class="Rectangle-Movie-Poster" src="{{movie.image}}" alt="Movies Poster">
      <p class="Category-Movie-Name">{{movie.fullTitle}}</p>
    </div>
  </div>
</div>