.Movie-Container{
  width: 100vw;
}

/* Title Movies Text */
.Movie-Title{
  font-size: 25px;
  font-family: 'Zen Kaku Gothic New', sans-serif;
  font-weight: 600; 
  margin-left: 15px;
  margin-top: 50px;
}

/* Search Icon */
.Search-Icon{
  width: 20px;
  height: 20px;
  float: right;
  margin-top: -53px;
  margin-right: 15px;
}

/* Coming Soon Category Text */
.Category-Text{
  font-family: 'Quicksand', sans-serif;
  font-size: 18px;
  margin-left: 15px;
  margin-top: -10px;
  font-weight: 600;
  color: rgb(87, 84, 84);
}

/* See All Text */
.SeeAll-Text{
  font-family: 'Quicksand', sans-serif;
  font-size: 18px;
  margin-left: 15px;
  margin-top: -42px;
  font-weight: 600;
  color: gray;
  float: right;
  margin-right: 15px;
}

/* Movie List Display */
.Movie-List {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
  
  padding-bottom: 20px;
}

/* Movie Posters */
.Movie-Poster{
  height: 180px;
  width: 350px;
  border-radius: 7px;
  margin-right: 10px;
  margin-left: 10px;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

/* Rectangle Movie Posters */
.Rectangle-Movie-Poster{
  height: 220px;
  width: 165px;
  border-radius: 7px;
  margin-right: 10px;
  margin-left: 10px;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

/* Movie Name Title */
.Movie-Name{
    margin-top: 230px;
    margin-left: -165px;
    text-transform: uppercase;
    text-align: center;
}


/* Remove ScrollBar */
::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Make scrollbar invisible */
}
::-webkit-scrollbar-thumb {
  background: transparent;
}
